<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>
<body>
<table style="padding: 5px; background: black; width: 100%">
    <tr>
        <td>
            <a href="/demo"><p style="color: white; font-size: 25px; font-weight: bold">HOME</p></a>
        </td>
        <td>
            <a href="thyme"><p style="color: white; font-size: 25px; font-weight: bold">STORE</p></a>
        </td>
        <td style="width: 80%">
        </td>
    </tr>
</table>
<h1 style="padding: 40px; text-align: left; background: cadetblue;color: black; font-size: 50px; margin: 0px">Store</h1>
<!--<p th:text="${message}"></p>-->
<!--<h1>This is awesome!</h1>-->
</body>
</html>